{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h1>List of Posts</h1>
</br>
<table>
  <tr>
      <td>{{=B(T('Title'))}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=B(T('Author'))}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=B(T('Creation Date'))}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=B(T('Options'))}}</td>
 </tr>
  {{for post in posts:}}
  <tr>
      <td>{{=post.title}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=post.author}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=post.creation_date}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=A(T('Edit'), _class='btn', _href=URL('default', 'edit', args=[post.id]))}}</td>
      <td>{{=A(T('Read'), _class='btn', _href=URL('default', 'read', args=[post.id]))}}</td>
  </tr>
  {{pass}}
</table>
</br>
<p>{{=A('Add', _class='btn', _href=URL('default', 'add'))}}</p>


<h1>List of Comments</h1>
</br>
<table>
  <tr>
      <td>{{=B(T('Replying To Post'))}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=B(T('Author'))}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=B(T('Creation Date'))}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=B(T('Options'))}}</td>
 </tr>
  {{for comment in comments:}}
  <tr>
      {{# This line below displays the formatted name from post db instead of the post.id
        # referenced by comment db.}}
      <td>{{=db.comment.post_id.represent(comment.post_id)}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=comment.author}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=comment.creation_date}}</td>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>{{=A(T('Edit'), _class='btn', _href=URL('default', 'edit_comment', args=[post.id]))}}</td>
      <td>{{=A(T('Read'), _class='btn', _href=URL('default', 'read_comment', args=[post.id]))}}</td>
  </tr>
  {{pass}}
</table>
</br>
<p>{{=A('Add', _class='btn', _href=URL('default', 'add_comment'))}}</p>
