{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
{{block head}}
<style>
#post_title{
    /* Causes font to be in all caps. */
    font-variant: small-caps;

    padding-top: 5px;
    padding-bottom: 2px;
    font-weight: bold;
    font-size: 125%;
}

#post_content_box{
    border-radius: 5px;
    border-style: dotted;
    border-color: rgba(100, 125, 112, 30);
    border-width: 2px;
    background-color: #F0FFF0;

    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
}

#post_dates{
    font-size: 75%;
    font-style:italic;
}

ol{
    list-style-type: none;
}
</style>
{{end}}

<div>
    <ol id='post_list'>
        {{for post in posts:}}
        <li id='post_content_box'>
            <p id='post_id' style="display:none;">{{=post.id}}</p>
            <p id='post_title'>{{=A(post.title, _href=URL('default', 'post', args=[post.id]))}}</p>
            <p id='post_dates'>
                Post Created: {{=post.creation_date}} by <b>{{=post.author}}</b>
                -----
                Last Modified: {{=post.modified_date}}
            </p>
        </li>
        {{pass}}
    </ol>
</div>
</br>
<p>{{=A('Add', _class='btn', _href=URL('default', 'add'))}}</p>
