{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block head}}
<style>
#post_title{
    /* Causes font to be in all caps. */
    font-variant: small-caps;
}

#post_content{
    border-radius: 5px;
    border-style: dotted;
    border-color: rgba(100, 125, 112, 30);
    border-width: 2px;
    background-color: #F0FFF0;

    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
}

#post_content_title{
    padding-bottom: 2px;
    font-weight: bold;
    text-decoration: underline;
}

#post_creation_date{
    font-size: 75%;
}

#comment_content{
    border-radius: 5px;
    border-style: dotted;
    border-color: rgba(100, 75, 112, 30);
    border-width: 2px;
    background-color: #E0FFF0;

    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;

    margin-bottom: 15px;
}

#post_creation_date{
    font-style:italic;
}

#comment_reply{
    padding-top: 25px;
}

ol{
    list-style-type: none;
}

textarea {
    resize: none;
}
</style>

<script>
function Comment_Box_Button(){
    $("#reply_button").toggle();
    $("#reply_form").toggle();
};

function SubmitReply(){
    var user_comment = document.getElementById("user_comment").value;
    if (user_comment.length === 0){
        alert('You cannot submit a reply with no content.');
        return;
    }
    /**************************Add post logic here**************************/
    var post_id = {{=post.id}};

    comment_data = [];
    comment_data.push(post_id);
    comment_data.push(user_comment);

    //JSONdata = "comment_data=" + JSON.stringify(comment_data);  // Not stringifying, its annoying.
    JSONdata = "comment_data=" + comment_data;

    $.post('{{=post_url_comment}}', JSONdata, function(jdata) {
        var latest_comment_entry = JSON.parse(jdata);
        console.log(latest_comment_entry["comment_modified_date"])

        // Edge case for when python side returns None, but is displayed null on this side.
        modified_date = latest_comment_entry["comment_modified_date"]
        if(modified_date === null){
            modified_date = 'None';
        }

        {{session.flash = "Comment is added."}}

        // Updating the comment section with new user comment.
        var newentry = '<p>' + latest_comment_entry["comment_content"] + '</p>'
                 + '<p id=\'post_creation_date\'>' + 'Post Created: '
                 + latest_comment_entry["comment_creation_date"] + ' by '
                 + '<b>' + latest_comment_entry["comment_author"] + '</b>'
                 + ' ----- ' + 'Last Modified: '
                 + modified_date + '</p>'
        var newli = $('<li id=\'comment_content\'>');
        newli.html(newentry);
        $("#newentry").val("");
	    $("#comment_list").append(newli);
    });

    // When finished processing comment, we clear the textbox and toggle back.
    document.getElementById("user_comment").value = "";
    Comment_Box_Button();
};
</script>
{{end}}

<div>
    <h2 id='post_title'>{{=post.title}}</h2>
</div>
<div id='post_content'>
    <p id='post_content_title'>Post Description</p>
    <p>{{=post.post_content}}</p>
    <p id='post_creation_date'>
        Post Created: {{=post.creation_date}} by <b>{{=post.author}}</b>
        -----
        Last Modified: {{=post.modified_date}}
    </p>
</div>

<hr>

<div>
    <h3 id='post_title'>Comments</h3>
    <ol id='comment_list'>
        {{for comment in comments:}}
        <li id='comment_content'>
            <p>{{=comment.comment_content}}</p>
            <p id='post_creation_date'>
                Post Created: {{=comment.creation_date}} by <b>{{=comment.author}}</b>
                -----
                Last Modified: {{=comment.modified_date}}
            </p>
        </li>
        {{pass}}
    </ol>
</div>
<div id='comment_reply'>
    <button id="reply_button" onclick="Comment_Box_Button()">Reply</button>
    <form id="reply_form" style="display:none;">
        <h3 id="post_title">Reply To Comment</h3>
        <textarea rows="8" id="user_comment" ></textarea>
        <br>
        <input type="button" onclick="SubmitReply()" value="Submit" >
    </form>
</div>
