{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block head}}
<style>
#post_title{
    /* Causes font to be in all caps. */
    font-variant: small-caps;
}

#post_content_box{
    border-radius: 5px;
    border-style: dotted;
    border-color: rgba(100, 125, 112, 30);
    border-width: 2px;
    background-color: #F0FFF0;

    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
}

.post_content_title{
    padding-bottom: 2px;
    font-weight: bold;
    text-decoration: underline;
}

#comment_content_box, #post_content{
    border-radius: 5px;
    border-style: dotted;
    border-color: rgba(100, 75, 112, 30);
    border-width: 2px;
    background-color: #E0FFF0;

    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#post_dates{
    font-size: 75%;
    font-style:italic;
}

#comment_dates{
    font-size: 75%;
    font-style:italic;
}

#comment_reply{
    padding-top: 25px;
}

ol{
    list-style-type: none;
}

textarea {
    resize: none;
}

body{
    background-color: #e6e6fa;
}
</style>

<script>
function Comment_Reply_Toggle(){
    $("#reply_button").toggle();
    $("#reply_form").toggle();
};

function Sub_Reply_Toggle(commentId){
    $("#subReplyBtn" + commentId).toggle();
    $("#subReplyForm" + commentId).toggle();
};

function Post_Box_Toggle(){
    /*
    $(".post_content_title").toggle();
    $("#post_minimum_age").toggle();
    $("#post_fees").toggle();
    $("#post_expected_size").toggle();
    $("#post_time_of_event").toggle();
    $("#post_location_of_event").toggle();
    $("#post_content").toggle();
    $("#post_dates").toggle();

    // Fill the textarea with the post content for editing.
    document.getElementById("edit_post_content").value = document.getElementById("post_content").innerHTML;
    $("#post_edit_form").toggle();

    */
    $("#post_information").toggle();
    $("#post_edit_form").toggle();
    $("#post_delete").toggle();

};

function SubmitReply(){
    var user_comment = document.getElementById("user_comment").value;
    if (user_comment.length === 0){
        alert('You cannot submit a reply with no content.');
        return;
    }
    var post_id = {{=post.id}};

    comment_data = [];
    comment_data.push(post_id);
    comment_data.push(user_comment);

    //JSONdata = "comment_data=" + JSON.stringify(comment_data);  // Not stringifying, its annoying.
    JSONdata = "comment_data=" + comment_data;

    $.post('{{=post_url_comment}}', JSONdata, function(jdata) {
        var latest_comment_entry = JSON.parse(jdata);
        console.log(latest_comment_entry["comment_modified_date"])

        // Edge case for when python side returns None, but is displayed null on this side.
        modified_date = latest_comment_entry["comment_modified_date"]
        if(modified_date === null){
            modified_date = 'None';
        }

        // Updating the comment section with new user comment.
        var newentry = '<p>' + latest_comment_entry["comment_content"] + '</p>'
                 + '<p id=\'comment_dates\'>' + 'Post Created: '
                 + latest_comment_entry["comment_creation_date"] + ' by '
                 + '<b>' + latest_comment_entry["comment_author"] + '</b>'
                 + ' ----- ' + 'Last Modified: '
                 + modified_date + '</p>'
                 + '<input id=\'subReplyBtn' + latest_comment_entry["comment_id"]
                 + '\' type=\'button\' onclick=\'Sub_Reply_Toggle('
                 + latest_comment_entry["comment_id"] + ')\' value=\'Reply\'>'

        var newentry1 = '<form id=\'subReplyForm'
                 + latest_comment_entry["comment_id"] + '\' style=\'display:none;\'>'
                 + '<h3 id=\'subTitle\'>Reply To Comment</h3>'
                 + '<textarea rows=\'8\' id=\'user_comment_sub'
                 + latest_comment_entry["comment_id"] + '\' ></textarea>'
                 + '<br>'
                 + '<input type=\'button\' onclick=\'SubmitSubReply('
                 + latest_comment_entry["comment_id"] + ')\' value=\'Submit\' >'
                 + '<input type=\'button\' onclick=\'Sub_Reply_Toggle('
                 + latest_comment_entry["comment_id"] + ')\' value=\'Cancel\' > </form>'

        var newli = $('<li id=\'comment_content_box\'>');
        newli.html(newentry);
        $("#newentry").val("");
        $("#comment_list").append(newli);
        $("#comment_list").append(newentry1);
    });

    // When finished processing comment, we clear the textbox and toggle back.
    document.getElementById("user_comment").value = "";
    Comment_Reply_Toggle();
};

function SubmitSubReply(commentId){
    var user_comment = document.getElementById("user_comment_sub" + commentId).value;
    if (user_comment.length === 0){
        alert('You cannot submit a reply with no content.');
        return;
    }
    var post_id = {{=post.id}};

    comment_data = [];
    comment_data.push(post_id);
    comment_data.push(user_comment);

    //JSONdata = "comment_data=" + JSON.stringify(comment_data);  // Not stringifying, its annoying.
    JSONdata = "comment_data=" + comment_data + "&commentId=" + commentId;

    $.post('{{=post_url_comment}}', JSONdata, function(jdata) {
        var latest_comment_entry = JSON.parse(jdata);
        console.log(latest_comment_entry["comment_modified_date"])

        // Edge case for when python side returns None, but is displayed null on this side.
        modified_date = latest_comment_entry["comment_modified_date"]
        if(modified_date === null){
            modified_date = 'None';
        }

        // Updating the comment section with new user comment.
        var newentry = '<li id=\'comment_content_box\'>'
                 +'<p>' + latest_comment_entry["comment_content"] + '</p>'
                 + '<p id=\'comment_dates\'>' + 'Post Created: '
                 + latest_comment_entry["comment_creation_date"] + ' by '
                 + '<b>' + latest_comment_entry["comment_author"] + '</b>'
                 + ' ----- ' + 'Last Modified: '
                 + modified_date + '</p>'
                 + '<input id=\'subReplyBtn' + latest_comment_entry["comment_id"]
                 + '\' type=\'button\' onclick=\'Sub_Reply_Toggle('
                 + latest_comment_entry["comment_id"] + ')\' value=\'Reply\'>'
                 + '</li>'

        var newentry1 = '<ol> <form id=\'subReplyForm'
                 + latest_comment_entry["comment_id"] + '\' style=\'display:none;\'>'
                 + '<h3 id=\'subTitle\'>Reply To Comment</h3>'
                 + '<textarea rows=\'8\' id=\'user_comment_sub'
                 + latest_comment_entry["comment_id"] + '\' ></textarea>'
                 + '<br>'
                 + '<input type=\'button\' onclick=\'SubmitSubReply('
                 + latest_comment_entry["comment_id"] + ')\' value=\'Submit\' >'
                 + '<input type=\'button\' onclick=\'Sub_Reply_Toggle('
                 + latest_comment_entry["comment_id"] + ')\' value=\'Cancel\' > </form></ol>'

        var newli = $('<ol>');
        newli.html(newentry);
        $("#newentry").val("");
        $("#subReplyForm" + commentId).after(newentry1);
        $("#subReplyForm" + commentId).after(newli);
    });

    // When finished processing comment, we clear the textbox and toggle back.
    document.getElementById("user_comment_sub" + commentId).value = "";
    Sub_Reply_Toggle(commentId);
};

function SubmitPostEdit(){
    var post_edit = document.getElementById("edit_post_content").value;

    if (post_edit.length === 0){
        alert('You cannot submit an edit with no content.');
        return;
    }

    var post_id = {{=post.id}};

    post_data = [];
    post_data.push(post_id);
    post_data.push(post_edit);

    //JSONdata = "post_data=" + JSON.stringify(post_data);  // Not stringifying, its annoying.
    JSONdata = "post_data=" + post_data;

    $.post('{{=post_url_editpost}}', JSONdata, function(jdata) {
        var updated_post_entry = JSON.parse(jdata);

        // Edge case for when python side returns None, but is displayed null on this side.
        modified_date = updated_post_entry["post_modified_date"]
        if(modified_date === null){
            modified_date = 'None';
        }

        document.getElementById("post_content").innerHTML = updated_post_entry["post_content"];
        document.getElementById("post_dates").innerHTML =
                   'Post Created: '
                 + updated_post_entry["post_creation_date"] + ' by '
                 + '<b>' + updated_post_entry["post_author"] + '</b>'
                 + ' ----- ' + 'Last Modified: '
                 + modified_date;
    });

    // When finished processing comment, we clear the textbox and toggle back.
    document.getElementById("edit_post_content").value = "";
    Post_Box_Toggle();
}

function pushCommentReply(comment_content, comment_creation_date,
                           comment_author, comment_id, comment_modified_date, sub_comment_id){
    // Edge case for when python side returns None, but is displayed null on this side.
    modified_date = comment_modified_date;
    if(modified_date === null){
        modified_date = 'None';
    }
    var newentry = '<li id=\'comment_content_box\'>'
                 +'<p>' + comment_content + '</p>'
                 + '<p id=\'comment_dates\'>' + 'Post Created: '
                 + comment_creation_date + ' by '
                 + '<b>' + comment_author + '</b>'
                 + ' ----- ' + 'Last Modified: '
                 + modified_date + '</p>'
                 + '<input id=\'subReplyBtn' + comment_id
                 + '\' type=\'button\' onclick=\'Sub_Reply_Toggle('
                 + comment_id + ')\' value=\'Reply\'>'
                 + '</li>'

    var newentry1 = '<ol> <form id=\'subReplyForm'
                 + comment_id + '\' style=\'display:none;\'>'
                 + '<h3 id=\'subTitle\'>Reply To Comment</h3>'
                 + '<textarea rows=\'8\' id=\'user_comment_sub'
                 + comment_id + '\' ></textarea>'
                 + '<br>'
                 + '<input type=\'button\' onclick=\'SubmitSubReply('
                 + comment_id + ')\' value=\'Submit\' >'
                 + '<input type=\'button\' onclick=\'Sub_Reply_Toggle('
                 + comment_id + ')\' value=\'Cancel\' > </form></ol>'

    var newli = $('<ol>');
    newli.html(newentry);
    $("#newentry").val("");
    $("#subReplyForm" + sub_comment_id).after(newentry1);
    $("#subReplyForm" + sub_comment_id).after(newli);
}

function SubmitPostEditting(){
    var minimumAgeEdit = document.getElementById('minimumAgeEdit').value;
    var feesEdit = document.getElementById('feesEdit').value;
    var expectedSizeEdit = document.getElementById('expectedSizeEdit').value;
    var timeOfEventEdit = document.getElementById('timeOfEventEdit').value;
    var locationEventEdit = document.getElementById('locationEventEdit').value;
    var postContentEdit = document.getElementById('postContentEdit').value;
    var post_id = {{=post.id}};

    JSONdata = "minimumAgeEdit=" + minimumAgeEdit + "&feesEdit=" + feesEdit
    + "&expectedSizeEdit=" + expectedSizeEdit + "&timeOfEventEdit="
    + timeOfEventEdit + "&locationEventEdit=" + locationEventEdit
    + "&postContentEdit=" + postContentEdit + "&post_id=" + post_id;

    $.post('{{=post_url_edittingPost}}', JSONdata, function(jdata) {
        var getData = JSON.parse(jdata);
        var newPost = getData["newPost"];
        Post_Box_Toggle();
        $('#post_minimum_age').text(newPost.minimum_age);
        $('#post_fees').text(newPost.fees);
        $('#post_expected_size').text(newPost.expected_size);
        $('#post_time_of_event').text(newPost.time_of_event);
        $('#post_location_of_event').text(newPost.location_of_event);
        $('#post_content').text(newPost.post_content);
        $('#post_dates').innerHTML("Post Created: {{=post.creation_date}} by <b>{{=post.author}}</b>-----Last Modified: " + newPost.modified_date);
    });
}
</script>
{{end}}

<div>
    <h2 id='post_title'>{{=post.title}}</h2>
</div>
<div id='post_content_box'>
    <div id='post_information'>
        <p class='post_content_title'>Minimum Age</p>
        <p id='post_minimum_age'>{{=post.minimum_age}}</p>
        <p class='post_content_title'>Fees</p>
        <p id='post_fees'>${{=post.fees}}</p>
        <p class='post_content_title'>Expected Size</p>
        <p id='post_expected_size'>{{=post.expected_size}}</p>
        <p class='post_content_title'>Time of Event</p>
        <p id='post_time_of_event'>{{=post.time_of_event}}</p>
        <p class='post_content_title'>Location of Event</p>
        <p id='post_location_of_event'>{{=post.location_of_event}}</p>
        <p class='post_content_title'>Post Description</p>
        <p id='post_content'>{{=post.post_content}}</p>
        <p id='post_dates'>
            Post Created: {{=post.creation_date}} by <b>{{=post.author}}</b>
            -----
            Last Modified: {{=post.modified_date}}
        </p>
        {{if auth.user_id != None:}}
            {{if post.email == auth.user.email:}}
            <button id="post_edit" onclick="Post_Box_Toggle()">Edit</button>
            {{pass}}
        {{pass}}
    </div>

    <div id="post_edit_form" style="display:none;">
        Minimum Age: <br/><input type="text" id="minimumAgeEdit" value="{{=post.minimum_age}}"> <br/>
        Fees: <br/><input type="text" id="feesEdit" value="{{=post.fees}}"><br/>
        Expected Size: <br/><input type="text" id="expectedSizeEdit" value="{{=post.expected_size}}"><br/>
        Time of Event: <br/><input type="text" id="timeOfEventEdit" value="{{=post.time_of_event}}"><br/>
        Location of Event: <br/><input type="text" id="locationEventEdit" value="{{=post.location_of_event}}"><br/>
        Post Description: <br/><textarea type="text" id="postContentEdit" rows="8">{{=post.post_content}}</textarea><br/>
        <input type="button" onclick="SubmitPostEditting()" value="Submit">
        <input type="button" onclick="Post_Box_Toggle()" value="Cancel">
    </div>
    <!--form id="post_edit_form" style="display:none;">
        <textarea rows="8" id="edit_post_content" ></textarea>
        <br>
        <input type="button" onclick="SubmitPostEdit()" value="Submit" >
        <input type="button" onclick="Post_Box_Toggle()" value="Cancel">
    </form-->
</div>

<hr>

<div>
    <h3 id='post_title'>Comments</h3>
    <ol id='comment_list'>
        {{for comment in comments:}}
            <!--inserting the reply of a comment -->
            {{if comment.sub_comment_id != None:}}
                {{if comment.sub_comment_id != "":}}
                    <script>
                        pushCommentReply("{{=comment.comment_content}}", "{{=comment.creation_date}}",
                                         "{{=comment.author}}", "{{=comment.id}}", "{{=comment.modified_date}}",
                                         "{{=comment.sub_comment_id}}");
                    </script>
                {{else:}}
                    <li id='comment_content_box'>
                        <p id='comment_id' style="display:none;">{{=comment.id}}</p>
                        <p id='comment_content'>{{=comment.comment_content}}</p>
                        <p id='comment_dates'>
                            Post Created: {{=comment.creation_date}} by <b>{{=comment.author}}</b>
                            -----
                            Last Modified: {{=comment.modified_date}}
                        </p>
                        <input id="subReplyBtn{{=comment.id}}" type="button"
                               onclick="Sub_Reply_Toggle({{=comment.id}})" value="Reply">
                    </li>
                    <form id="subReplyForm{{=comment.id}}" style="display:none;">
                        <h3 id="subTitle">Reply To Comment</h3>
                        <textarea rows="8" id="user_comment_sub{{=comment.id}}" ></textarea>
                        <br>
                        <input type="button" onclick="SubmitSubReply({{=comment.id}})" value="Submit" >
                        <input type="button" onclick="Sub_Reply_Toggle({{=comment.id}})" value="Cancel" >
                    </form>
                {{pass}}
            {{else:}}
                <li id='comment_content_box'>
                    <p id='comment_id' style="display:none;">{{=comment.id}}</p>
                    <p id='comment_content'>{{=comment.comment_content}}</p>
                    <p id='comment_dates'>
                        Post Created: {{=comment.creation_date}} by <b>{{=comment.author}}</b>
                        -----
                        Last Modified: {{=comment.modified_date}}
                    </p>
                    <input id="subReplyBtn{{=comment.id}}" type="button"
                           onclick="Sub_Reply_Toggle({{=comment.id}})" value="Reply">
                </li>
                <form id="subReplyForm{{=comment.id}}" style="display:none;">
                    <h3 id="subTitle">Reply To Comment</h3>
                    <textarea rows="8" id="user_comment_sub{{=comment.id}}" ></textarea>
                    <br>
                    <input type="button" onclick="SubmitSubReply({{=comment.id}})" value="Submit" >
                    <input type="button" onclick="Sub_Reply_Toggle({{=comment.id}})" value="Cancel" >
                </form>
            {{pass}}
        {{pass}}
    </ol>
</div>
<div id='comment_add'>
     <button id="reply_button" onclick="Comment_Reply_Toggle()">Add Comment</button>

     <form id="reply_form" style="display:none;">
        <h3 id="post_title">Reply To Comment</h3>
        <textarea rows="8" id="user_comment" ></textarea>
        <br>
        <input type="button" onclick="SubmitReply()" value="Submit" >
        <input type="button" onclick="Comment_Reply_Toggle()" value="Cancel" >
    </form>
</div>
